@{
    ViewData["Title"] = "Home Page";
}
<body class="">
<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Welcome to PromptShare</h1>
    <br />
    <br />

    <p>Share and Discover useful Prompts to enrich your Working.</p>
    <br />
    <h2>Create your Prompt now</h2>
    <br />
    <br />
    <p><a class="btn btn-primary" asp-controller="Prompts" asp-action="Index">Discover and Share</a></p>
</div>
</body>